{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning",
      "Microsoft.EntityFrameworkCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "NormalDataBaseConnection": "Server=; user=; password=; database="
  },
  "MqttClientOptions" : {
      "ServerIP" : "localhost",
      "Port" : 1883,
      "ClientId" : "api"
    },
  "Jwt": {
    "Key": "",
    "Issuer": "",
    "Audience": ""
  }
}
